<h1>MEDIHELP</h1>

<h2>Account details</h2>
<hr>

<h3>Name:</h3> <p> Dr <%= @doctor.full_name %></p> <br>
<h3>Email address:</h3> <p><%= @doctor.email %></p><br>
<h3>Contact number:</h3> <p><%= @doctor.contact_number %></p><br>

<p><%= link_to "Home", appointments_path %></p>
