<h3>
  <%= link_to "Book Appointment", new_appointment_path %> |
  <%= link_to "All Patients", patients_path %>
</h3>
<hr>

<h2>Booked appointments</h2>
<% @booked_appointments.each do |day, appointments| %>
  <h4><%= day %> </h4>
  <% appointments.each do |appointment| %>
  <span><%= link_to appointment.time, appointment_path(appointment) %>  |  </span>
  <% end %>
<% end %>
