<h2>Available appointments</h2>
<% @available_appointments.each do |day, appointments| %>
  <div>
    <h4><%= day %> </h4>
    <% appointments.each do |appointment| %>
    <span><%= appointment.time %> | </span>
    <% end %>
  <% end %>
  </div>



<h2>Booked appointments</h2>
<% @booked_appointments.each do |day, appointments| %>
  <h4><%= day %> </h4>
  <% appointments.each do |appointment| %>
  <span><%= link_to appointment.time, appointment_path(appointment) %>  |  </span>
  <% end %>
<% end %>
